@import './custom';
@import './inter.css';
@import './neue-montreal.css';

@tailwind base;
@tailwind components;

:root {
	--font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu, cantarell,
		fira sans, droid sans, helvetica neue, sans-serif;
	--font-body: 'Inter', var(--font-system), sans-serif;
	--inspect-color: #f00;
}

html {
	line-height: 1.5;
	box-sizing: border-box;
	text-rendering: geometricprecision;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// tweak if site is light mode.
	color-scheme: dark;

	@apply bg-dark-2;
	// background-image: url("https://cdn.raster.app/kitatsu/library-1/WRJJCP7jMm?ixlib=js-3.7.0&width=2813&height=3640&compress=false&blur=374&s=6a74e61db2e23a6822ab5359a15dfeec");
	background-image: url("https://cdn.raster.app/kitatsu/library-1/oScZSUoQVJ?ixlib=js-3.7.0&width=2813&height=3640&compress=false&blur=374&bri=-8&s=bc8218ec5c490a2477258b0be93b0921");
	@apply bg-center bg-cover;
}

body {
	font-family: var(--font-body);

}

@tailwind utilities;