@font-face {
	font-family: neue-montreal;
	font-weight: 700;
	font-display: block;
	src: url('/fonts/neuemontreal/NeueMontreal-Bold.woff2') format('woff2');
}

@font-face {
	font-family: neue-montreal;
	font-weight: 500;
	font-display: block;
	src: url('/fonts/neuemontreal/NeueMontreal-Medium.woff2') format('woff2');
}

@font-face {
	font-family: neue-montreal;
	font-weight: 400;
	font-display: block;
	src: url('/fonts/neuemontreal/NeueMontreal-Regular.woff2') format('woff2');
}
